@import 'styles/mixin.scss';

.carousel {
  &_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 285px;
    width: 100%;
  }
  &_img {
    width: 100%;
  }
}
