@import 'styles/mixin.scss';
.slider {
  height: 285px;
  overflow: hidden;
  background-color: #242424;
  .carousel {
    &_container {
      @include flex();

      width: $fixed-width;
      margin: 0 auto;
    }
    &_img {
      height: 285px;
      max-width: 100%;
    }
  }
  :global {
    .slick-list {
      height: 285px;
    }
    .slick-dots {
      bottom: 15px;
    }
    .slick-prev {
      left: 100px;
      z-index: 100;
    }
    .slick-next {
      right: 100px;
      z-index: 100;
    }
  }
}

.recommend {
  width: $fixed-width;
  margin: 20px auto;
  background-color: $white;
  &_box {
    display: flex;
    flex-wrap: wrap;
  }
}
