@import 'styles/mixin.scss';
.slider {
  height: 285px;
  .carousel {
    background-color: #242424;
    &_container {
      @include flex();
      // height: 285px;
      width: $fixed-width;
      margin: 0 auto;
    }
    &_img {
      max-width: 100%;
    }
  }
}

.recommend {
  width: $fixed-width;
  margin: 20px auto;
  background-color: $white;
  &_box {
    display: flex;
    flex-wrap: wrap;
  }
}
