@import 'styles/mixin.scss';

.layout {
  width: 100%;
  .header {
    background-color: #242424;
  }
  .header_warp {
    height: 70px;
    width: 1100px;
    margin: 0 auto;
    @include flex(space-between);
  }
  .logo {
    width: 176px;
    height: 70px;
    @include flex();
    @include sprite-icon();
    a {
      width: 100%;
      height: 100%;
    }
  }
  .nav {
    height: 100%;
    @include flex(flex-start, center);
    .nav_item {
      position: relative;
      height: 100%;
      a {
        position: relative;
        @include flex(flex-start, center);
        padding: 0 19px;
        height: 100%;
        color: #ccc;
        &:hover {
          cursor: pointer;
          background-color: $black;
        }
        &::after {
          @include position(absolute, 100%, 0, 0, 50%);
          content: '';
          width: 12px;
          height: 7px;
          @include sprite-icon(-105px, -70px);
          background-size: 120px auto;
          margin-left: -6px;
          margin-top: -6px;
          display: none;
        }
      }
      .active {
        cursor: pointer;
        background-color: $black;
        &::after {
          display: block;
        }
      }
    }
  }
  .music_hot {
    display: inline-block;
    width: 28px;
    height: 19px;
    @include sprite-icon(-190px);
    @include position(relative, -10px, 0, 0, -10px);
  }
  .search {
    @include flex();
    width: 158px;
    height: 32px;
    border-radius: 32px;
    @include sprite-icon(0, -99px);
    background-color: $white;
    overflow: hidden;
    .search_input {
      margin-left: 30px;
      border: none;
      outline: none;
      font-size: $font-size12;
    }
  }
  .create {
    width: 90px;
    height: 32px;
    @include vitical-center(32px);
    font-size: $font-size14;
    color: #ccc;
    border: 1px solid #4f4f4f;
    border-radius: 20px;
    box-sizing: border-box;
    &:hover {
      color: $white;
      border: 1px solid $white;
      cursor: pointer;
    }
  }
  .login {
    font-size: $font-size14;
    color: #787878;
    height: 100%;
    line-height: 70px;
    &:hover {
      color: #666;
      cursor: pointer;
    }
  }
  .subnav {
    padding: 2.5px 0;
    background-color: $red;
    .subnav_container {
      width: 1100px;
      margin: 0 auto;
      padding-left: 200px;
    }
    .subnav_item {
      @include flex(flex-start, center);
      height: 34px;
      a {
        font-size: $font-size14;
        color: $white;
        padding: 4px 13px;
        border-radius: 20px;
        margin: 0 17px;
        &.active,
        &:hover {
          background-color: #9b0909;
        }
      }
    }
  }
}
